<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs/RWBooks_" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="10MB" />
    <datePattern value="yyyy-MM-dd'.json'" />
    <staticLogFileName value="false" />
    <countDirection value="0" />
    <PreserveLogFileNameExtension value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
      <decorator type='log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json' />
      <default />
    </layout>
  </appender>
  <root>
    <appender-ref ref="RollingFile" />
  </root>
</log4net>